* {
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 16px;
  color: #595959; }

h1, h2, h3, h4 {
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #303030;
}
h1 {
  font-size: 60px;
  margin: 0;
  line-height: 1.2;
}
h2 {
  font-size: 48px;
  margin: 0;
}
h3 {
  font-size: 24px;
  margin: 45px 0 0 0;
}
header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 46px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
a:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
section {
  padding: 100px 0;
}
img {
  display: block;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
.home {
  background-image: url(../img/bg-main-min.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 0;
}
.menu li, .lang li {
  display: inline-block;
}
.menu a, .lang a {
  color: rgba(255,255,255,0.35);
  text-decoration: none;
  font-size: 16px;
  position: relative;
}
.menu a {
  border-bottom: 2px solid transparent;
  margin-right: 10px;
  margin-left: 10px;
}
.lang a {
  border: 2px solid rgba(111, 179, 108, 0.35);
  width: 44px;
  height: 44px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.lang a span {
  margin: auto;  
}
.lang a span img {
  opacity: .25;  
}
.lang a:hover, .lang a.active {
  color: #fff;
  border: 2px solid #6fb36c;
}
.lang a:hover span img {
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menu {
  margin-right: 52px;
}
.menu a:hover, .menu a.active {
  color: #fff;
  border-bottom: 2px solid #6fb36c;
}
.menu a::after {
  content: '/';
  color: rgba(255,255,255,0.35);
  position: absolute;
  right: -16px;
}
.menu li:last-child a::after {
  content: '';
}
.content_home {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
}
.what_about h1 {
  color: #fff;
}
.what_about p {
 font-size: 24px;
 font-weight: 300;
}
.what_about .btn {
  margin-top: 60px;  
}
.what_about .line {
  margin: 0;
}
.line {
  margin: 45px 0;
}
.line::before {
  content: '';
  width: 70px;
  height: 2px;
  display: block;
}
.line.green::before {
  background: #6fb36c;
}
.line.orange::before {
  background: #c6a377;
}
.btn {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 300px;
  height: 72px;
  color: #353331;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 50px rgba(255, 213, 124, 0.35);
  box-shadow: 0 0 50px rgba(255, 213, 124, 0.35);
  background-image: linear-gradient( to top, #6eb36b, #ffd57a );
  position: relative;
  z-index: 1;
}
.btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient( to top, #6eb36b, #6eb36b );
  z-index: -1;
  transition: opacity 0.4s linear;
  opacity: 0;
  border-radius: 4px;
}
.btn:hover::before {
  opacity: 1;
}

.big_button {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.big_button span {
  content: '';
  width: 300px;
  height: 72px;
  display: inline-block;
  background: #578c54;
  border-radius: 10px;
  position: absolute;
  bottom: -6px;
  z-index: 0;
}
.row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.column_c {
  width: 31%;
}
.column_b {
  width: 50%;
}
.wrap p {
  white-space: pre-wrap;
}
.box {
  background: #fff;
  -webkit-box-shadow: 0 15px 30px rgba(37, 36, 55, 0.15);
  box-shadow: 0 15px 30px rgba(37, 36, 55, 0.15);
  border-radius: 4px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
  align-items: center;
}
.box::after {
  border: 1px solid #e5e5e5;
  content: '';
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: block;
  border-radius: 4px;
  top: 4px;
  left: 4px;
  position: absolute;
}
.box_icon {
  width: 100px;
  height: 100px;
  justify-content: center;
}
.box_big {
  width: 570px;
  height: 76px;
}
.box_big img {
  padding: 0 20px;
}
.bottom_padding {
  padding-bottom: 70px;
}
.top_padding {
  padding-top: 70px;
}
.gray {
  background: #fafafa;
}
.desc {
  font-size: 18px;
}
.arguments .box {
  margin-bottom: 20px;
}
.margin_right {
  margin-right: 30px;
}
.features {
  background-image: url(../img/bg-features-min.jpg);
  background-size: cover;
  background-position: center;
}
.features h2 {
  color: #fff;
}
.fr {
  float: right;
}
.box_insider {
  -webkit-box-shadow: 0 15px 30px rgba(37, 36, 55, 0.15);
  box-shadow: 0 15px 30px rgba(37, 36, 55, 0.15);
  background-size: cover;
}
.box_insider.bg_one {
  background-image: url(../img/inside_01.png);
}
.box_insider.bg_two {
  background-image: url(../img/inside_02.png);
}
.boxi {
  padding: 50px 85px 50px 50px;
  min-height: 522px;
}
.deployment {
  padding-top: 0;
}
.prices {
  padding: 45px;
}
.prices h3 {
  margin-top: 0;
}
.prices .big_button span, .prices .btn {
  width: 100%;
  margin-top: 30px;
}
.slider img {
  width: 100%;
}
.contacts {
  background-image: url(../img/bg-contacts-min.png);
  background-size: cover;
  background-position: center;
  color: #fff;
}
.contacts h2 {
  color: #fff;
  line-height: 1.2;
}
.faq {
  color: #303030;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
.faq p {
  margin-left: 30px;
}
.faq span {
  content: '';
  width: 36px;
  height: 36px;
  position: absolute;
  right: 30px;
  top: 20px;
  border-radius: 50%;
  background: #70b36c;
  background: -moz-linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #70b36c), color-stop(100%, #ffd67c));
  background: -webkit-linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  background: -o-linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  background: -ms-linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  background: linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b36c', endColorstr='#ffd67c', GradientType=1 );
}
.faq span:after {
  content: '';
  display: block;
  width: 3px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 19px;
  top: 14px;
}
.faq span:before {
  content: '';
  display: block;
  width: 3px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  transform: rotate(-45deg);
  position: absolute;
  left: 13px;
  top: 14px;
}
.to_bottom {
  margin-top: 16px;
}
.contacts_box {
  border-radius: 4px;
  background: #fff;
  padding: 4px;
}
.copyright {
  padding: 60px 0;
}
.but {
  border: 0;
  cursor: pointer;
}
input {
  border: 0;
  padding: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.success {
  display: none;
}
.gray-box {
  border: 1px solid #e5e5e5;
  padding: 45px 70px;
  border-radius: 4px;
  color: #252437;
}
::placeholder {
  color: rgba(37, 36, 55, 0.5);
}