* {-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
body {
  margin: 0;
  color: #595959;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4 {
  color: #303030;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
h1 {
  color: #fff;
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 45px 0 0 0;
}
header {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: all 0.4s;
  z-index: 999;
}
header.sticky {
  background: #303030;
  padding: 14px 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
img {
  display: block;
}
input, textarea {
  border: 0;
  border: 1px solid #e5e5e5;
  margin-bottom: 15px;
  border-radius: 4px;
}
::placeholder {
  color: rgba(37, 36, 55, 0.5);
}
.wrapper {
  margin: 0 auto;
}
.row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.flex_center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.menu li, .lang li {
  display: inline-block;
}
.menu a, .lang a {
  color: rgba(255,255,255,0.35);
  text-decoration: none;
  position: relative;
}
.lang a {
  border: 2px solid rgba(111, 179, 108, 0.35);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.lang a span {
  margin: auto;  
}
.lang a span img {
  opacity: .25;  
}
.lang a:hover, .lang li.active a {
  color: #fff;
  border: 2px solid #6fb36c;
}
.lang a:hover span img {
  opacity: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menu a {
  border-bottom: 2px solid transparent;
  margin-right: 10px;
  margin-left: 10px;
}
.menu a:hover, .menu li.active a {
  color: #fff;
  border-bottom: 2px solid #6fb36c;
}
.menu a::after {
  content: '/';
  color: rgba(255,255,255,0.35);
  position: absolute;
  right: -16px;
}
.menu li:last-child a::after {
  content: '';
}
.menu li.hide_li a::after {
  content: 'v';
  text-transform: lowercase;
  font-family: Open Sans;
  font-size: 12px;
  top: 0px;
}
.menu li.hide_li > ul.hide_menu li a::after {
  content: '';
}
.menu li.hide_li.active > ul.hide_menu li a {
  color: rgba(255,255,255,0.35);
  border-bottom: 2px solid transparent;
}
.menu li.hide_li.active > ul.hide_menu li:hover a {
  color: #fff;
  border-bottom: 2px solid #6fb36c;
}
.cover_bg {
  background-size: cover;
  background-position: center;
  color: #fff;
}
.cover_bg h2 {
  color: #fff;
  line-height: 1.2;
}
.features {
  background-image: url(../img/bg-features-min.jpg);
}
.contacts {
  background-image: url(../img/bg-contacts-min.png);
}
.home {
  background-image: url(../img/bg-main-min.jpg);
}
.what_about .btn {
  margin-top: 15px;  
}
.line {
  margin: 45px 0;
}
.line::before {
  content: '';
  width: 70px;
  height: 2px;
  display: block;
}
.line.green::before {
  background: #6fb36c;
}
.line.orange::before {
  background: #c6a377;
}
.line.white::before {
  background: #fff;
}
.gray {
  background: #fafafa;
}
.grid.gray .row:last-child {
  padding-top: 70px;
}
.grid p {
  margin-right: 55px;
}
.slider img {
  width: 100%;
}
.big_button {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.big_button span {
  content: '';
  width: 300px;
  height: 72px;
  display: inline-block;
  background: #578c54;
  border-radius: 10px;
  position: absolute;
  bottom: -6px;
  z-index: 0;
}
.btn {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  color: #353331;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1em;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 50px rgba(255, 213, 124, 0.35);
  box-shadow: 0 0 50px rgba(255, 213, 124, 0.35);
  background-image: linear-gradient( to top, #6eb36b, #ffd57a );
  position: relative;
  z-index: 1;
}
.btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient( to top, #6eb36b, #6eb36b );
  z-index: -1;
  transition: opacity 0.4s linear;
  opacity: 0;
  border-radius: 4px;
}
.btn:hover::before {
  opacity: 1;
}
.white-popup-block {
  margin: 0 auto;
  background: #fff;
  padding: 50px;
}
.box {
  background: #fff;
  -webkit-box-shadow: 0 15px 30px rgba(37, 36, 55, 0.15);
  box-shadow: 0 15px 30px rgba(37, 36, 55, 0.15);
  border-radius: 4px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
.box::after, .prices::after {
  border: 1px solid #e5e5e5;
  content: '';
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: block;
  border-radius: 4px;
  top: 4px;
  left: 4px;
  position: absolute;
}
.box_icon {
  width: 100px;
  height: 100px;
  justify-content: center;
}
.boxi, .prices {
  border-radius: 8px;
  -webkit-box-shadow: 0 15px 30px rgba(37, 36, 55, 0.15);
  box-shadow: 0 15px 30px rgba(37, 36, 55, 0.15);
}
.boxi {
  background-repeat: no-repeat;
  background-position: right top;
}
.boxi.bg_one {
  background-image: url(../img/inside_01.png);
}
.boxi.bg_two {
  background-image: url(../img/inside_02.png);
}
.bg_four {
  background-image: url(../img/inside_04.png);
  background-position: right top;
}
.boxi.four {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
.prices {
  padding: 40px;
  position: relative;
}
.prices.active {
  color: #fff;
  background: #70b36c;
  background: -moz-linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #70b36c), color-stop(100%, #ffd67c));
  background: -webkit-linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  background: -o-linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  background: -ms-linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  background: linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b36c', endColorstr='#ffd67c', GradientType=1 );
}
.prices h3 {
  margin-top: 0;
}
.prices.active h3 {
  color: #fff;
}
.prices .big_button span, .prices .btn {
  width: 100%;
  margin-top: 30px;
}
.deployment {
  padding-top: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding-top: 100px;
}
.modal-content {
  margin: 0 auto;
  width: 40%;
  position: relative;
}
.close_b {
  color: #aaa;
  position: absolute;
  right: 20px;
  z-index: 99;
  font-size: 28px;
  font-weight: bold;
}
.close_b:hover,
.close_b:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.slick-prev.slick-arrow, .slick-next.slick-arrow {
  background: #fff!important;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 15px 30px rgba(37, 36, 55, 0.15);
}
.slick-prev {
  left: -65px!important;
}
.slick-next {
  right: -65px!important;
}
.slick-next:after, .slick-next:before {
  content: '';
  display: block;
  width: 4px;
  height: 18px;
  border-radius: 10px;
  background: #70b36c;
  transform: rotate(45deg);
  position: absolute;
  left: 30px;
  top: 28px;
}
.slick-next:before {
  transform: rotate(-45deg);
  left: 30px;
  top: 16px;
}
.slick-prev:after, .slick-prev:before {
  content: '';
  display: block;
  width: 4px;
  height: 18px;
  border-radius: 10px;
  background: #70b36c;
  transform: rotate(45deg);
  position: absolute;
  left: 25px;
  top: 16px;
}
.slick-prev:before {
  transform: rotate(-45deg);
  left: 25px;
  top: 28px;
}

.circle span {
  width: 36px;
  height: 36px;
  position: absolute;
  border-radius: 50%;
  background: #70b36c;
  background: -moz-linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #70b36c), color-stop(100%, #ffd67c));
  background: -webkit-linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  background: -o-linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  background: -ms-linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  background: linear-gradient(45deg, #70b36c 0%, #ffd67c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70b36c', endColorstr='#ffd67c', GradientType=1 );
}
.faq span {
  right: 30px;
  top: 20px;
}
.faq span:after, .faq span:before {
  content: '';
  display: block;
  width: 3px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  left: 19px;
  top: 14px;
  transition-property: transform,-webkit-transform;
  transition-duration: .2s;
}
.faq span:after {
  transform: rotate(45deg);  
}
.faq span:before {
  transform: rotate(-45deg);
  left: 13px;
}
.faq.active span:before {
  transform: rotate(-135deg);
  top: 12px;
}
.faq.active span:after {
  transform: rotate(135deg);
  top: 12px;
}
.done span, .cross span {
  left: 20px;
  top: 20px;
}
.done span:after, .done span:before {
  content: '';
  display: block;
  width: 3px;
  height: 16px;
  border-radius: 10px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 19px;
  top: 11px;
}
.done span:before {
  height: 8px;
  transform: rotate(-45deg);
  left: 12px;
  top: 17px;
}
.done p, .cross p {
  color: #595959;
  margin-left: 80px;
}
.cross span {
  width: 36px;
  height: 36px;
  position: absolute;
  border-radius: 50%;
  background: #ff2020;
  background: -moz-linear-gradient(45deg, #ff2020 0%, #ffd67c 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #ff2020), color-stop(100%, #ffd67c));
  background: -webkit-linear-gradient(45deg, #ff2020 0%, #ffd67c 100%);
  background: -o-linear-gradient(45deg, #ff2020 0%, #ffd67c 100%);
  background: -ms-linear-gradient(45deg, #ff2020 0%, #ffd67c 100%);
  background: linear-gradient(45deg, #ff2020 0%, #ffd67c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2020', endColorstr='#ffd67c', GradientType=1 );
}
.cross span:after, .cross span:before {
  content: '';
  display: block;
  width: 3px;
  height: 14px;
  border-radius: 10px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 16px;
  top: 11px;
}
.cross span:before {
  transform: rotate(-45deg);
  left: 16px;
  top: 11px;
}
.to_bottom {
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.but {
  border: 0;
  cursor: pointer;
}
.accordion {
  width: 100%;
  color: #303030;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  margin-top: 18px;
}
.panel {
  background: #fff;
  color: #595959;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 0 0 4px 4px;
}
.panel p {
  padding: 0 30px 25px;
}
.box.active {
  border-radius: 4px 4px 0 0;  
}
.form {
  margin-bottom: 0;
}
.gray-box {
  z-index: 10;
}
.success {
  display: none;
  color: #595959;
  padding: 35px;
}
.copyright {
  padding: 60px 0;
}
.hide_li {
  position: relative;
}
.hide_menu {
  display: none;
  position: absolute;
  width: 220px;
  background: #303030;
  padding: 25px;
  left: -28px;
}
.hide_menu li {
  margin-top: 5px;
}
.menu li:hover > ul.hide_menu {
  display: block;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media (min-width: 320px) and (max-width: 768px) {
  .image_big {
    width: 100%;
  }
  .hamberger {
    height: 2px;
    width: 25px;
    background-color: #fff;
    transform: translate(0%, 0%) rotate(0deg);
    transition: all ease 0.5s;
  }
  .hamberger::before, .hamberger::after {
    content: "";
    position: absolute;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    margin: auto;
    width: 50%;
    transition: all ease 0.5s;
  }
  .hamberger::before {
    top: -8px;
    left: 0;
    transform-origin: left;
  }
  .hamberger::after {
    bottom: -8px;
    right: 0;
    transform-origin: right;
  }
  .open {
    transform: translate(0%, 0%) rotate(135deg);
  }
  .open::before {
    top: 0;
    transform: translateX(100%) rotate(-90deg);
  }
  .open::after {
    bottom: 0;
    transform: translateX(-100%) rotate(-90deg);
  }
  .hamberger_panel {
    padding: 25px;
    background: #303030;
    position: absolute;
    right: -340px;
    top: 48px;
    min-height: 100vh;
    width: 255px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0px 0px 15px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  .hamberger_overlay {
    background: rgba(48, 48, 48, 0.85);
    position: absolute;
    top: 0;
    right: -325px;
    width: 100vh;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .lang_panel {
    padding: 25px;
    background: #303030;
    position: absolute;
    right: -325px;
    top: 48px;
    min-height: 100vh;
    width: 255px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0px 0px 15px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  .lang_overlay {
    background: rgba(48, 48, 48, 0.85);
    position: absolute;
    top: 0;
    right: -325px;
    width: 100vh;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
}
@media (min-width: 320px) {
  body {
    font-size: 14px;
    line-height: 1.6;
  }
  h1 {
    font-size: 28px;
    line-height: 1.4;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  header {
    background: #303030;
    padding: 14px 0;
  }
  header.row {
    flex-direction: row;
    align-items: center;    
  }
  ::placeholder {
    font-size: 14px;
  }
  .image_big img.infograph_one {
    width: 100%;
  }
  .mobile {
    display: block;
  }
  .pc {
    display: none;
  }
  .logo img {
    width: 115px;
  }
  .what_about, .to_bottom .column_b {
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    -o-order: 2;
    order: 2;
  }
  .mockup, .image_big {
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
    padding-bottom: 30px;
  }
  .image_big {
    padding-bottom: 45px;
    padding-top: 45px;
  }
  .content_home {
    padding-top: 45px;
  }
  .what_about p {
    font-size: 16px;
    margin-bottom: -10px;
  }
  .lang_panel {
    display: block;
  }
  .lang a {
    width: 30px;
    height: 30px;
    font-size: 11px;
  }
  .headr .row {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
  }
  .wrapper {
    width: 100%;
    padding: 0 8%;
  }
  .row, .flex_center {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .column_b, .column_c {
    width: 100%;
  }
  .headr .row nav.flex_center {
    display: flex;
    flex-direction: row;
  }
  .headr .wrapper {
    padding: 0;
    padding-left: 8%;
  }
  .mainmenu {
    position: relative;
    cursor: pointer;
    padding: 16px 25px;
    display: block;
  }
  .mockup img {
    width: 100%;
  }
  .image_big img {
    width: 100%;
  }
  .big_button span {
    width: 100%;
  }
  .btn, .big_button span {
    width: 100%;
    height: 56px;
    font-size: 18px;
  }
  section {
    padding: 65px 0;
  }
  .gray-box {
    padding: 30px 15px;
  }
  .modal .gray-box {
    padding: 45px 30px;
  }
  .column_c {
    margin-top: 70px;
  }
  #solution .column_c {
    margin-top: 0;
  }
  .column_c:first-child {
    margin-top: 0px;
  }
  .small.done p {
    margin-left: 70px;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .done p {
    margin-left: 20px;
    margin-top: 80px;
    margin-right: 15px;
  }
  .small.done {
    height: 76px;    
  }
  .box_big {
    height: auto;
  }
  .column_c.sm {
    width: 100%;
  }
  .small.done.sm p {
    font-size: 16px;
    line-height: 1.6;
    margin-left: 75px;
  }
  section#another .column_c {
    margin-top: 0;
  }
  .boxi {
    padding: 35px;
    margin-bottom: 55px;
  }
  .slider {
    margin: 0;
  }
  input, textarea {
    padding: 0 35px;
    width: 100%;
    height: 65px;
  }
  textarea {
    height: 180px;
    padding: 20px 35px;
  }
  .copyright .lang {
    text-align: center;
    margin-top: 20px;
  }
  .lang a span img {
    height: 16px;
  }
  button.box.box_big.accordion.but.circle.faq {
    height: 60px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    padding-right: 40px;
  }
  .faq span {
    top: 13px;
    right: 15px;
  }
  .to_bottom .column_b:last-child {
    margin-top: 50px;
  }
  .slick-prev.slick-arrow, .slick-next.slick-arrow {
    display: none!important;
  }
  .done p, .cross p {
    margin-left: 70px;
    margin-right: 15px;
  }
  .boxi.four {
    margin-top: -30px;
  }
  .mt {
    margin-top: 0;
  }
  .modal-content {
    width: 90%;
  }
  .close_b {
    top: 2px;
  }
  .slick-dots {
    bottom: -45px!important;
    display: block!important;
  }
  .slick-dots li.slick-active button {
    background: #70b36c!important;
  }
  .slick-dots li button {
    background: #ffd67c!important;
    border-radius: 50%;
    width: 14px!important;
    height: 14px!important;
  }
  .accordion {
    padding-left: 25px;
  }
  .lang li:first-child {
    display: inline-block;
  }
  .menu {
    display: none;
  }
  .menu.menu_mob {
    display: block;
  }
  .menu_mob li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 10px;
  }
  .menu_mob a::after {
    content: '';
  }
  .add_lang li {
    display: none;
  }
  .boxi {
    min-height: auto;
  }
  .white-popup-block {
    width: 80%;
  }
  .open_panel .hamberger_panel, .open_lang .lang_panel {
    right: 0;
  }
  .open_panel .hamberger_panel .hamberger_overlay, .open_lang .lang_panel .hamberger_overlay {
    opacity: 1;
    right: 0;
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 620px;
  }
  .what_about p {
    font-size: 22px;
    margin-bottom: -10px;
  }
  .content_home {
    padding-top: 55px;
  }
  .headr .wrapper {
    padding: 0;
    padding-left: 0;
  }
  .box_big {
    height: 80px;
  }
  .open_panel .hamberger_panel {
    right: -75px;
  }
  .open_lang .lang_panel {
    right: 0;
  }
  .open_panel .hamberger_panel .hamberger_overlay, .open_lang .lang_panel .hamberger_overlay {
    opacity: 1;
    right: 230px;
  }
  .gray-box {
    padding: 58px 45px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 860px;
    padding: 0;
  }
  .mainmenu {
    display: none;
  }
  header {
    background: transparent;
    padding: 0;
    padding-top: 46px;
  }
  .row, .flex_center {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
  }
  .menu {
    display: block;
    margin-right: 15px;
  }
  .menu a, .lang a {
    font-size: 12px;
  }
  .lang li {
    display: inline-block;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  .mockup, .image_big {
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    -o-order: 2;
    order: 2;
  }
  .what_about, .to_bottom .column_b {
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
    padding-bottom: 30px;
  }
  .order_sol .image_big {
    -webkit-order: 1;
    -moz-order: 1;
    -ms-order: 1;
    -o-order: 1;
    order: 1;
  }
  .order_sol .column_b {
    -webkit-order: 2;
    -moz-order: 2;
    -ms-order: 2;
    -o-order: 2;
    order: 2;
  }
  .btn, .big_button span {
    width: 300px;
    height: 72px;
    font-size: 20px;
  }
  .done p {
    margin-left: 80px;
    margin-top: 15px;
    margin-right: 15px;
  }
  .box_big {
    height: 86px;
  }
  .column_c {
    margin-top: 0px;
  }
  .desc {
    font-size: 14px;
  }
  ::placeholder {
    font-size: 16px;
  }
  .accordion {
    font-size: 14px;
  }
  .to_bottom .image_big img {
    float: right;
  }
  .column_b {
    width: 48%;
  }
  .column_c {
    width: 30%;
  }
  .image_big img {
    width: 85%;
  }
  button.box.box_big.accordion.but.circle.faq {
    height: 76px;
    font-size: 16px;
    padding-right: 40px;
  }
  .faq span {
    right: 30px;
    top: 20px;
  }
  .desc {
    font-size: 16px;
  }
  .boxi {
    min-height: 430px;
  }
  .image_big img.infograph_one {
    width: 390px;
  }
  .lang_panel {
    display: none;
  }
  #solution .for_pl {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .mt, .boxi.four {
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    width: 1120px;
  }
  .menu a, .lang a {
    font-size: 16px;
  }
  body {
    font-size: 16px;
    line-height: 1.8;
  }
  h1 {
    font-size: 60px;
    line-height: 1.2;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 24px;
  }
  .lang a {
    width: 44px;
    height: 44px;
  }
  .logo img {
    width: 175px;
  }
  .menu {
    margin-right: 52px;
  }
  .image_big img.infograph_one {
    width: 430px;
  }
  .slider {
    margin: 0 100px;
  }
  .slick-prev.slick-arrow, .slick-next.slick-arrow {
    display: block!important;
  }
  .slick-dots {
    display: none!important;
  }
  .prices h3 {
    font-size: 28px;
  }
  .column_c.sm {
    width: 32%;
  }
  #solution .for_pl {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
  }
  .small.done.sm p {
    font-size: 14px;
    line-height: 1.6;
    margin-left: 65px;
  }
}
@media (min-width: 1366px) {
  .wrapper {
    width: 1170px;
  }
  .box_big {
    height: 76px;
  }
  .desc {
    font-size: 18px;
  }
  .btn, .big_button span {
    width: 300px;
    height: 72px;
    font-size: 20px;
  }
  .mockup img {
    width: 100%;
    min-width: 540px;
  }
  .accordion {
    font-size: 16px;
    padding-left: 30px;
  }
  section {
    padding: 100px 0;
  }
  .mobile {
    display: none;
  }
  .pc {
    display: block;
  }
  .image_big {
    padding-bottom: 0;
    padding-top: 0;
  }
  .what_about, .to_bottom .column_b {
    padding-bottom: 0;
  }
  .boxi {
    min-height: 522px;
    padding: 50px 85px 50px 50px;
    margin-bottom: 0;
  }
  .lang a span img {
    height: 26px;
  }
  .gray-box {
    padding: 45px 70px;
  }
  input, textarea {
    padding: 25px 45px; 
    width: 100%;
    height: 75px;
  }
  textarea {
    height: 180px;
  }
  .modal .gray-box {
    padding: 45px 75px;
  }
  .white-popup-block {
    width: 40%;
  }
  .mt, .boxi.four {
    margin-top: 50px;
  }
  .prices h3 {
    font-size: 34px;
  }
  .image_big img.infograph_one {
    width: 500px;
  }
  .small.done.sm p {
    font-size: 14px;
    line-height: 1.6;
    margin-left: 70px;
  }
}